<div style="margin-bottom: 0.5rem;">
    Portfolio count: {{portfolioCount}}
</div>
<div>

    <p-dropdown [options]="portfolioRows" [(ngModel)]="selectedPortfolio" placeholder="Select a portfolio"
        (onChange)="onChangePortfolio($event)" [showClear]="true" [filter]="true"
        filterBy="financialInstitution,holder,accountNumber,name,currency">
        <ng-template pTemplate="item" let-portfolio>
            <div>
                {{portfolio.financialInstitution}}-{{portfolio.holder}}-{{portfolio.accountNumber}}-{{portfolio.name}}-{{portfolio.currency}}
            </div>
        </ng-template>
        <ng-template pTemplate="selectedItem">
            <div>
                {{selectedPortfolio.financialInstitution}} - {{selectedPortfolio.holder}} -
                {{selectedPortfolio.accountNumber}} -
                {{selectedPortfolio.name}} -
                {{selectedPortfolio.currency}}
            </div>
        </ng-template>
    </p-dropdown>

    <span *ngIf="holdingDetailListCount" style="margin-left:1rem;">Portfolio value: {{portfolioValue | currency}}</span>

</div>

<div style="margin-top: 1rem;" *ngIf="selectedPortfolio.accountNumber">
    <p-table [value]="holdingDetailList" [paginator]="holdingDetailListCount != 0" [rowsPerPageOptions]="[10,20,30]"
        [rows]=" 20" [totalRecords]="holdingDetailListCount" [loading]="loadingStatus" selectionMode="single"
        [(selection)]="holdingDetailSelectedRow" (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Instrument</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Mkt Value</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-holdingDetail>
            <tr [pSelectableRow]="holdingDetail" style="line-height: 1rem;">

                <ng-container
                    *ngIf="holdingDetail.instrumentType == 'INTEREST_BEARING'; then interestBearing; else nonInterestBearing"></ng-container>
                <ng-template #interestBearing>
                    <td><span
                            pTooltip="{{holdingDetail.financialInstitutionString}} {{holdingDetail.type}} {{holdingDetail.term ? holdingDetail.term.substr(5) : ''}} {{holdingDetail.interestRate ? (holdingDetail.interestRate / 100 | percent :'0.2') : ''}} {{holdingDetail.maturityDate | date:'y-MM-dd'}} {{holdingDetail.promotionalInterestRate ? (holdingDetail.promotionalInterestRate  / 100 | percent :'0.2') : '' }} {{holdingDetail.promotionEndDate | date:'y-MM-dd'}}"
                            class="texthastooltip">{{holdingDetail.name}}</span>
                    </td>
                </ng-template>
                <ng-template #nonInterestBearing>
                    <td>{{holdingDetail.ticker}} - {{holdingDetail.name}}</td>
                </ng-template>

                <!-- <td>{{holdingDetail.name}}</td> -->
                <td><span pTooltip="{{holdingDetail.asOfDate | date:'y-MM-dd'}}"
                        class="texthastooltip">{{holdingDetail.quantity | number}}</span>
                </td>
                <td><span pTooltip="{{holdingDetail.latestPriceTimestamp | date:'y-MM-dd HH:mm:ss'}}"
                        class="texthastooltip">{{holdingDetail.latestPrice | currency:'CAD':'symbol-narrow':'1.2-4'
                        }}</span></td>
                <td>{{holdingDetail.quantity * holdingDetail.latestPrice | currency:'CAD':'symbol-narrow':'1.2-4'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div>
                <button type="button" pButton icon="pi pi-plus" (click)="showDialog(crudEnum.ADD)" label="Add"></button>
                <button type="button" pButton icon="pi pi-pencil" style="margin-left:0.5rem;"
                    (click)="showDialog(crudEnum.UPDATE)" label="Modify"
                    [disabled]="modifyAndDeleteButtonsDisable"></button>
                <button type="button" pButton icon="pi pi-minus" style="margin-left:0.5rem;"
                    (click)="showDialog(crudEnum.DELETE)" label="Delete"
                    [disabled]="modifyAndDeleteButtonsDisable"></button>
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Holdings - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" [style]="{width: '45vw'}">

    <form [formGroup]="holdingDetailForm" (ngSubmit)="onSubmit()" novalidate>

        <p-messages></p-messages>

        <div class="grid" style="width: 30em;">

            <div class="col-4">
                <label for="instrument">Instrument</label>
            </div>
            <div class="col-8">
                <p-dropdown [options]="instrumentArrayForCurrency" formControlName="instrument"
                    placeholder="Select an instrument" (onChange)="onChangeInstrument($event)" [showClear]="true"
                    appendTo="body">
                    <ng-template pTemplate="item" let-instrument>
                        <!-- <div>
                            {{instrument.ticker}}:{{instrument.exchange}} - {{instrument.name}}
                        </div> -->
                        <div>
                            <ng-container *ngIf="instrument.type !== 'INTEREST_BEARING'">
                                {{instrument.ticker}} -
                            </ng-container>
                            {{instrument.name}}
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem">
                        <div>
                            <ng-container
                                *ngIf="holdingDetailForm.controls['instrument'].value.type !== 'INTEREST_BEARING'">
                                {{holdingDetailForm.controls['instrument'].value.ticker}} -
                            </ng-container>
                            {{holdingDetailForm.controls['instrument'].value.name}}
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="holdingDetailForm.controls.instrument.invalid && holdingDetailForm.controls.instrument.touched"
                    class="red-font">
                    Field is required</div>
            </div>

            <div class="col-4">
                <label for="quantity">Quantity</label>
            </div>
            <div class="col-8">
                <p-inputNumber id="quantity" formControlName="quantity" mode="decimal" [minFractionDigits]="4"
                    [maxFractionDigits]="4" (onInput)="onInputQuantity($event)" appendTo="body">
                </p-inputNumber>
                <div *ngIf="holdingDetailForm.controls.quantity.invalid && holdingDetailForm.controls.quantity.touched"
                    class="red-font">
                    Field is required</div>
            </div>

            <div class="col-4">
                <label for="asOfDate">As of Date</label>
            </div>
            <div class="col-8">


                <p-calendar id="asOfDate" formControlName="asOfDate" [monthNavigator]="true" [showButtonBar]="true"
                    [yearNavigator]="true" yearRange="2000:2050" [dateFormat]="'yy-mm-dd'" [showIcon]="true"
                    [readonlyInput]="true" [showOnFocus]="false" [inputStyle]="{'width':'8rem'}" appendTo="body">
                </p-calendar>

                <div *ngIf="holdingDetailForm.controls.asOfDate.invalid && holdingDetailForm.controls.asOfDate.touched"
                    class="red-font">
                    Field is required</div>
            </div>



            <p-footer>
                <div class="formgroup-inline">
                    <div class="field">
                        <button pButton type="submit" label="Submit" [disabled]="holdingDetailForm.invalid"
                            icon="pi pi-check"></button>
                    </div>
                    <div class="field">
                        <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                    </div>
                </div>
            </p-footer>

        </div>
    </form>
</p-dialog>