<div style="margin-block-start: 1em;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="p-field p-grid">
            <label for="newPassword" class="p-col-fixed" style="width: 9rem">New password</label>
            <div class="p-col">
                <input id="newPassword" type="password" pPassword name="newPassword" [(ngModel)]="form.newPassword"
                    required #newPassword="ngModel" [feedback]="false"
                    style="padding: 1px 2px; border-radius: 0; font-size: 13.3333px;">
                <div *ngIf="newPassword.touched && newPassword.errors">
                    <p-message severity="error" text="New password is required"></p-message>
                </div>
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="confirmPassword" class="p-col-fixed" style="width: 9rem">Confirm password</label>
            <div class="p-col">
                <input id="confirmPassword" type="password" pPassword name="confirmPassword"
                    [(ngModel)]="form.confirmPassword" required #confirmPassword="ngModel" [feedback]="false"
                    style="padding: 1px 2px; border-radius: 0; font-size: 13.3333px;">
                <div *ngIf="confirmPassword.touched && confirmPassword.errors">
                    <p-message severity="error" text="Confirm password is required"></p-message>
                </div>
            </div>
        </div>

        <div class="p-field" *ngIf="passworValidationMessage">
            <p-message severity="error" [text]="passworValidationMessage"></p-message>
        </div>

        <button pButton label="Submit" [disabled]="f.invalid"></button>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isPasswordResetFailed">
                Password reset failed: {{ errorMessage }}
            </div>
        </div>
    </form>
</div>

<div style="margin-top: 1rem;">
    <a routerLink="/login" routerLinkActive="active" style="text-decoration: none; color: #007ad9;">Login</a>
</div>