<div style="margin-block-start: 1em;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="p-field p-grid">
            <label for="newPassword" class="p-col-fixed" style="width: 9rem">New password</label>
            <div class="p-col">
                <input id="newPassword" type="text" pPassword name="newPassword" [(ngModel)]="form.newPassword" required
                    #newPassword="ngModel" [feedback]="false"
                    style="padding: 1px 2px; border-radius: 0; font-size: 13.3333px;">
                <div class="alert alert-danger" role="alert" *ngIf="newPassword.errors && f.submitted">
                    New password is required!
                </div>
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="confirmPassword" class="p-col-fixed" style="width: 9rem">Confirm password</label>
            <div class="p-col">
                <input id="confirmPassword" type="text" pPassword name="confirmPassword"
                    [(ngModel)]="form.confirmPassword" required #confirmPassword="ngModel" [feedback]="false"
                    style="padding: 1px 2px; border-radius: 0; font-size: 13.3333px;">
                <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors && f.submitted">
                    <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                </div>
            </div>
        </div>

        <button pButton label="Submit"></button>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isPasswordResetFailed">
                Password reset failed: {{ errorMessage }}
            </div>
        </div>
    </form>
</div>

<div style="margin-top: 1rem;">
    <a href="/login" style="text-decoration: none; color: #007ad9;">Login</a>
</div>