<div class="p-inputtext-sm">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

        <div class="field grid">
            <label for="username" class="col-fixed" style="width: 9rem;">New password</label>
            <div class="col">
                <p-password id="newPassword" name="newPassword" [(ngModel)]="form.newPassword" required
                    [feedback]="false" [toggleMask]="true" #newPassword="ngModel"></p-password>
                <div *ngIf="newPassword.touched && newPassword.errors">
                    <p-message severity="error" text="New password is required"></p-message>
                </div>
            </div>
        </div>

        <div class="field grid">
            <label for="confirmPassword" class="col-fixed" style="width: 9rem">Confirm password</label>
            <div class="col">
                <p-password id="confirmPassword" name="confirmPassword" [(ngModel)]="form.confirmPassword" required
                    [feedback]="false" [toggleMask]="true" #confirmPassword="ngModel"></p-password>
                <div *ngIf="confirmPassword.touched && confirmPassword.errors">
                    <p-message severity="error" text="Confirm password is required"></p-message>
                </div>
            </div>
        </div>

        <div class="field" *ngIf="passworValidationMessage">
            <p-message severity="error" [text]="passworValidationMessage"></p-message>
        </div>

        <button pButton label="Submit" [disabled]="f.invalid"></button>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isPasswordResetFailed">
                Password reset failed: {{ errorMessage }}
            </div>
        </div>
    </form>
</div>

<div style="margin-top: 1rem;">
    <a routerLink="/login" routerLinkActive="active" style="text-decoration: none; color: #007ad9;">Login</a>
</div>