<br />
<p-fileUpload #uploadComponent [customUpload]="true" (onSelect)="onSelect($event)"
    (uploadHandler)="onUploadFile($event, uploadComponent)" [multiple]="false" accept=".csv">
</p-fileUpload>

<br />
fileName: {{fileName}}, fileSize: {{fileSize}}
<br />
uploadProgressMessage: {{uploadProgressMessage}}
<br />
uploadResponse: {{uploadResponse | json}}

<div *ngIf="fileHasExceptions">
    <br />
    <button pButton label="Errors File" (click)="onDownloadExceptionsFile($event)"></button>
    <br />
    <br />
    downloadProgressMessage: {{ downloadProgressMessage }}
</div>