<div class="p-inputtext-sm">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

        <div class="grid field">
            <label for="username" class="col-fixed" style="width:5.5rem;">Username</label>
            <div class="col">
                <input id="username" type="text" pInputText name="username" [(ngModel)]="form.username" required
                    #username="ngModel">
                <div class="p-error" style="margin-top: 0.3rem;"
                    *ngIf="username.invalid && (username.dirty || username.touched)">
                    Username is required
                </div>
            </div>
        </div>

        <div class="grid field">
            <label for="password" class="col-fixed" style="width:5.5rem;">Password</label>
            <div class="col">
                <p-password id="password" name="password" [(ngModel)]="form.password" required [feedback]="false"
                    [toggleMask]="true" #password="ngModel"></p-password>
                <div class="p-error" style="margin-top: 0.3rem;"
                    *ngIf="password.invalid && (password.dirty || password.touched)">
                    Password is required
                </div>
            </div>
        </div>

        <button pButton label="Login" [disabled]="f.invalid"></button>

        <div class="p-error" style="margin-top: 0.7rem;" *ngIf="f.submitted && isLoginFailed">
            {{ errorMessage }}
        </div>
    </form>

    <div style="margin-top: 1rem;">
        <a [routerLink]="['/forgotPassword']" style="text-decoration: none; color: #007ad9;">Forgot Password</a>
    </div>
</div>