<!-- <h2>springsecurityjwt</h2>
<nav>
    <a class="button" routerLink="/login" routerLinkActive="activebutton">Login</a> |
    <a class="button" routerLink="/ping" routerLinkActive="activebutton">Ping</a> |
    <a class="button" routerLink="/fileTransfer" routerLinkActive="activebutton">File Transfer</a>
    <a class="button" routerLink="/fileTransferPrimeNg" routerLinkActive="activebutton">File Transfer PrimeNG</a>
</nav> -->
<p-messages></p-messages>
<app-menu></app-menu>
<router-outlet></router-outlet>