<div>
    <p-dropdown [options]="instrumentTypes" placeholder="Select instrument type" [showClear]="true"
        #selectedInstrumentType>
        <ng-template pTemplate="item" let-instrumentType>
            <div>
                {{instrumentType}}
            </div>
        </ng-template>
    </p-dropdown>

</div>

<container-element [ngSwitch]="selectedInstrumentType.value">
    <app-interest-bearing *ngSwitchCase="'INTEREST_BEARING'"
        [instrumentType]="selectedInstrumentType.value"></app-interest-bearing>
    <app-bond *ngSwitchCase="'BOND'" [instrumentType]="selectedInstrumentType.value"></app-bond>
</container-element>