<div style="margin-block-start: 1em;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width: 7rem;">E-mail address</label>
            <div class="p-col">
                <input id="email" name="email" type="text" pInputText [(ngModel)]="form.email" required #email="ngModel"
                    (input)="emailOnKeypress($event)">
                <div *ngIf="email.touched && email.errors">
                    <p-message severity="error" text="E-mail address is required"></p-message>
                </div>
                <div *ngIf="serverErrorMessage">
                    <p-message severity="error" [text]="serverErrorMessage"></p-message>
                </div>
            </div>
        </div>
        <button pButton label="Submit" [disabled]="f.invalid"></button>
    </form>
</div>

<div style="margin-top: 1rem;">
    <a href="/login" style="text-decoration: none; color: #007ad9;">Login</a>
</div>