<div style="margin-top: 1rem;" *ngIf="displayPortfoliosCount !== 0">
    <p-table [value]="displayPortfolios" [paginator]="displayPortfoliosCount != 0" [rowsPerPageOptions]="[10,20,30]"
        [rows]=" 20" [totalRecords]="displayPortfoliosCount" [loading]="loadingStatus" selectionMode="single"
        [(selection)]="portfolioSelectedRow" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
        dataKey="id">
        <ng-template pTemplate="caption">
            Show <p-selectButton id="logicallyDeletedOptions" [options]="logicallyDeletedOptions"
                [(ngModel)]="logicallyDeletedOption" (onChange)="onChangeLogicallyDeleted($event)"></p-selectButton>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Financial institution</th>
                <th>Account number</th>
                <th>Currency</th>
                <th>Has holdings</th>
                <th>Has positions</th>
                <th *ngIf="logicallyDeletedOption === logicallyDeletedOptionEnum.ALL">Logically deleted</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-portfolio>
            <tr [pSelectableRow]="portfolio" style="line-height: 1rem;">
                <td>{{portfolio.name}}</td>
                <td>{{portfolio.financialInstitution}}</td>
                <td>{{portfolio.accountNumber}}</td>
                <td>{{portfolio.currency}}</td>
                <td class="text-center">
                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': portfolio.hasHoldings, 'false-icon pi-times-circle': !portfolio.hasHoldings}"></i>
                </td>
                <td class="text-center">
                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': portfolio.hasPositions, 'false-icon pi-times-circle': !portfolio.hasPositions}"></i>
                </td>
                <td class="text-center" *ngIf="logicallyDeletedOption === logicallyDeletedOptionEnum.ALL">
                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': portfolio.logicallyDeleted, 'false-icon pi-times-circle': !portfolio.logicallyDeleted}"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div>
                <button type="button" pButton icon="pi pi-plus" (click)="showDialog(crudEnum.ADD)" label="Add"></button>
                <button type="button" pButton icon="pi pi-pencil" style="margin-left:0.5rem;"
                    (click)="showDialog(crudEnum.UPDATE)" label="Modify"
                    [disabled]="modifyAndDeleteButtonsDisable"></button>
                <button type="button" pButton icon="pi pi-minus" style="margin-left:0.5rem;"
                    (click)="showDialog(crudEnum.DELETE)" label="Delete"
                    [disabled]="modifyAndDeleteButtonsDisable"></button>
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Instrument - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" [style]="{width: '30vw'}">

    <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()" novalidate>

        <p-messages></p-messages>

        <div class="grid" style="width: 30em;">

            <!-- name-->
            <div class="col-4">
                <label for="name">Name</label>
            </div>
            <div class="col-8">
                <input id="name" type="text" pInputText formControlName="name" class="p-inputtext" maxlength="32"
                    size="32" />
            </div>

            <!-- financial institution -->
            <div class="col-4">
                <label for="financialInstitution">FI</label>
            </div>
            <div class="col-8">
                <p-dropdown id="financialInstitution" [options]="financialInstitutions"
                    formControlName="financialInstitution" placeholder="Select FI"
                    (onChange)="onChangeFinancialInstitution($event)" [showClear]="true">
                </p-dropdown>
                <!-- <div *ngIf="portfolioForm.controls.financialInstitution.invalid && portfolioForm.controls.financialInstitution.touched"
                    class="red-font">
                    Field is required</div> -->
            </div>

            <!-- accountNumber -->
            <div class="col-4">
                <label for="name">Account number</label>
            </div>
            <div class="col-8">
                <input id="accountNumber" type="text" pInputText formControlName="accountNumber" class="p-inputtext"
                    maxlength="16" size="16" />
            </div>

            <!-- currency-->
            <div class="col-4">
                <label for="currency">Currency</label>
            </div>
            <div class="col-8">
                <p-dropdown id="currency" [options]="currencies" formControlName="currency"
                    placeholder="Select currency" [showClear]="true">

                </p-dropdown>
                <div *ngIf="portfolioForm.controls.currency.invalid && portfolioForm.controls.currency.touched"
                    class="red-font">
                    Field is required</div>
            </div>

            <!-- logicallyDeleted -->
            <div class="col-4">
                <label for="logicallyDeleted">Logically deleted</label>
            </div>
            <div class="col-8">
                <p-checkbox inputId="logicallyDeleted" [formControl]="portfolioForm.controls['logicallyDeleted']"
                    [binary]="true"></p-checkbox>
            </div>

            <p-footer>
                <div class="formgroup-inline">
                    <div class="field">
                        <button pButton type="submit" label="Submit" [disabled]="portfolioForm.invalid"
                            icon="pi pi-check"></button>
                    </div>
                    <div class="field">
                        <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                    </div>
                </div>
            </p-footer>

        </div>
    </form>
</p-dialog>