<div class="p-formgroup-inline" style="margin-top: 1rem;">
    <div class="p-field">
        <label for="send_email">Email market value email?</label>
        <p-checkbox [(ngModel)]="sendEmail" [binary]="true" inputId="send_email"></p-checkbox>
    </div>
    <div class="p-field">
        <button pButton type="button" label="Submit" (click)="onSubmit($event)"></button>
    </div>
    <div class="p-field" style="margin-top: 0.5rem;">
        <span *ngIf="processingMessage">{{processingMessage}}</span>
    </div>
</div>